<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>OpenAPI version 0.6</title>
    <meta name="author" content="Ashley Noel Hinton, Paul Murrell">
    <meta name="description" content="Technical report on version 0.6 of the OpenAPI architecture">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet.css">
  </head>
  
  <body>
    <!--begin.rcode setup, echo=FALSE, message=FALSE
	library(knitr)
	opts_chunk$set(cache=TRUE)
        library(conduit)
	end.rcode-->
    
    <div class="title">
      <h1>OpenAPI version 0.6</h1>
      <div class="author">
	<p>Ashley Noel Hinton<br>
	  <span class="author-email"><a href="mailto:ahin017@aucklanduni.ac.nz">ahin017@aucklanduni.ac.nz</a></span>
	</p>
	<p>Paul Murrell<br>
	  <span class="author-email"><a href="mailto:paul@stat.auckland.ac.nz">paul@stat.auckland.ac.nz</a></span>
	</p>
	<p class="affiliation">Department of Statistics, University of
	  Auckland</p>
      </div>
      <p class="date">June 2016</p>
    </div>

    <div id="introduction">
      <p>The OpenAPI architecture specifies a method for sharing and
	combining pieces of data analysis code so as to help people
	connect with data. OpenAPI describes how pieces of data
	analysis code can be wrapped in modules, and how these modules
	can be combined in pipelines which describe a whole data
	analysis workflow.  Modules and pipelines are created using
	simple XML, and are intended to promote sharing and
	re-use. Modules and pipelines can be executed in OpenAPI glue
	system software	(
	<a href="http://stattech.wordpress.fos.auckland.ac.nz/2015-01-introducing-openapi/">Introducing OpenAPI</a>,
	<a href="http://stattech.wordpress.fos.auckland.ac.nz/2016-01-openapi-version-0-3/">version 0.3</a>,
	<a href="http://stattech.wordpress.fos.auckland.ac.nz/2016-07-openapi-version-0-5/">version 0.5</a>).
      </p>

      <p>This report describes the changes to the OpenAPI architecture
	in version 0.6. Module host elements were implemented in
	OpenAPI version 0.5; version 0.6 has extended module hosts so
	it is possible to provide a module's host information through
	a module input. The way a module author specifies a module's
	language has also been changed in version 0.6, with the
	introduction of the <code>language</code> element. This
	element also allows the author to specify details of the
	version of the language required.</p>

      <p>The changes described in this report have been implemented in
	<a href="https://github.com/anhinton/conduit/releases/tag/v0.6">
	Conduit version 0.6</a>. Conduit is a protoype OpenAPI glue
	system implemented as an R package. Further etails of changes
	to Conduit v0.6 are provided at the end of this report.</p>
    </div>

    <h2>Passing module host information through a module input</h2>

    <p>Module host elements were introduced in OpenAPI v0.5 to provide
      a method for meeting module source script dependencies
      (<a href="http://stattech.wordpress.fos.auckland.ac.nz/2016-07-openapi-version-0-5/">OpenAPI
      v0.5</a>).  One of the limitations of using
      the <code>docker</code> or <code>vagrant</code> host elements
      described in OpenAPI v0.5 was that a module author was assuming
      the host machine described had been created and was available
      for use when a module is executed. Module host elements were
      static, meaning module authors had no way of creating a custom
      host machine as part of an OpenAPI pipeline. Anyone wishing to
      run a module which required a host machine was also responsible
      for ensuring this host machine was ready to be accessed.</p>

    <p>OpenAPI version 0.6 introduces
      the <code>moduleInput</code> element to the list of elements
      available inside a module <code>host</code>
      element. Unlike <code>docker</code> or <code>vagrant</code> host
      elements, the <code>moduleHost</code> element indicates that the
      module's host is to be provided in one of the module's
      <code>input</code> elements. This allows a module author to
      create a module host machine and reference it in the output of a
      module. A pipeline can then pass this output to a module waiting
      for its host to be provided by one of its inputs.</p>

    <p>The following code shows how a module author can specify a
      module input as the source of the host machine details:</p>

    <pre><code>&lt;module xmlns="http://www.openapi.org/2014/">
  &lt;language>R&lt;/language>
  &lt;host>
    &lt;moduleInput name="hostMachine"/>
  &lt;/host>
  &lt;input name="hostMachine">
    &lt;file ref="hostMachine.xml"/>
    &lt;format formatType="text">XML file&lt;/format>
  &lt;/input>
&lt;/module></code></pre>

    <p>The <code>moduleInput</code> element contains a
      &lsquo;name&rsquo; attribute, which the module author uses to
      name the input which will provide the host machine XML. In the above
      code the &ldquo;hostMachine&rdquo; input is named&mdash;note the
      <code>moduleInput</code> name attribute must match exactly the
      name of one of the module's <code>input</code> names. When this
      module, is executed the glue system reads the details of the
      host machine described in &ldquo;hostMachine.xml&rdquo; and
      executes the module on this host machine. This XML document should
      contain only XML to describe a <code>docker</code> or
      <code>vagrant</code> host machine as introduced in OpenAPI
      v0.5.</p>

    <p>The simpleInputHost pipeline example demonstrates how a module
      host can be passed into a module as an input. The pipeline
      contains two modules&mdash;&lsquo;createVagrant&rsquo; and
      &lsquo;normalList&rsquo;. A pipe connects the output
      &lsquo;vagrantMachine.xml&rsquo; to an input of the same name in
      &lsquo;normalList&rsquo;. The XML code for
      <a href="examples/simpleInputHost/pipeline.xml">simpleInputHost/pipeline.xml</a>
      follows:</p>
    
<!--begin.rcode simpleInputHost_pipeline_xml, echo = FALSE, comment = NA
cat(readLines("examples/simpleInputHost/pipeline.xml"), sep = "\n")
end.rcode-->

    <p>The &lsquo;createVagrant&rsquo; module wraps a bash script,
      which creates a Vagrantfile on the local machine, and starts the
      vagrant machine. The script creates an XML file,
      &lsquo;vagrantMachine.xml&rsquo;, containing
      OpenAPI <code>docker</code> host XML. The module returns the
      &lsquo;vagrantMachine.xml&rsquo; as an <code>output</code>. The
      XML code for
      <a href="examples/simpleInputHost/createVagrant.xml">createVagrant.xml</a>
      follows:</p>

<!--begin.rcode createVagrant_xml, echo = FALSE, comment = NA
cat(readLines("examples/simpleInputHost/createVagrant.xml"), sep = "\n")
end.rcode-->

    <p>The &lsquo;normalList&rsquo; module wraps a python2 script. The
    module has a <code>moduleInput</code> <code>host</code>, which
    names the input &lsquo;vagrantMachine.xml&rsquo;. The module has
    one <code>input</code>, &lsquo;vagrantMachine.xml&rsquo;. The
    script will be executed on the host machine passed in by this
    input. The scritpt produces a list of random numbers, which is
    returned as <code>output</code> &lsquo;x&rsquo;. The XML code for
    <a href="examples/simpleInputHost/normalList.xml">normalList.xml</a>
    follows:</p>

<!--begin.rcode normalList_xml, echo = FALSE, comment = NA
cat(readLines("examples/simpleInputHost/normalList.xml"), sep = "\n")
end.rcode-->

    <p>When this pipeline is executed in an OpenAPI glue system the
    glue system will execute the &lsquo;normalList&rsquo; on the host
    machine created by &lsquo;createVagrant&rsquo;, even if this
    machine did not exist when the pipeline was loaded. This pipeline
    can be executed in Conduit on a machine with Vagrant installed
    with the following code. Please note that executing the
    &lsquo;createVagrant&rsquo; module will create and start a new
    vagrant machine in the directory
    &lsquo;<code>~/vagrant/precise32</code>&rsquo; on the machine
    running Conduit. If this directory does not exist it will be
    created. If the &lsquo;hashicorp/precise32&rsquo; Vagrant box has
    not been downloaded to your machine it will be downloaded
    first. The vagrant machine will not be halted by this pipeline,
    and should be halted manually from
    &lsquo;<code>~/vagrant/precise32</code>&rsquo;.</p>

<!--begin.rcode simpleInputHost, cache.rebuild = FALSE
simpleInputHost <- loadPipeline(
    name = "simpleInputHost",
    ref = file.path("examples", "simpleInputHost", "pipeline.xml"))

result1 <- runPipeline(pipeline = simpleInputHost)
result1Tarball <- export(result1)
end.rcode-->

    <p></p>

    <h2>Specifying module language version details</h2>

    <h2>Changes in Conduit version 0.6</h2>

  </body>
</html>
