<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>OpenAPI version 0.6</title>
    <meta name="author" content="Ashley Noel Hinton, Paul Murrell">
    <meta name="description" content="Technical report on version 0.6 of the OpenAPI architecture">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet.css">
  </head>
  
  <body>
    <div class="title">
      <h1>OpenAPI version 0.6</h1>

      <div class="author">
	<p>Ashley Noel Hinton<br>
	  <span class="author-email">
	    <a href="mailto:ahin017@aucklanduni.ac.nz">ahin017@aucklanduni.ac.nz</a>
	</span></p>
	<p>Paul Murrell<br>
	  <span class="author-email">
	    <a href="mailto:paul@stat.auckland.ac.nz">paul@stat.auckland.ac.nz</a>
	</span></p>
	<p class="affiliation">Department of Statistics, University of
	  Auckland</p>
      </div>

      <p class="date">June 2016</p>
    </div>

    <p>The OpenAPI architecture specifies a method for sharing and
      combining pieces of data analysis code so as to help people
      connect with data. OpenAPI describes how pieces of data analysis
      code can be wrapped in modules, and how these modules can be
      combined in pipelines which describe a whole data analysis
      workflow.  Modules and pipelines are created using simple XML,
      and are intended to promote sharing and re-use. Modules and
      pipelines can be executed in OpenAPI glue system software (.</p>

    <p>This report describes the changes to the OpenAPI architecture
      in version 0.6.</p>

  </body>
</html>
